<div class="container">
    <form action="/save" method="post">
      
        <label for="">User</label>
        <input type="text" id00="user" name="user">
        <br>
        <label for="">Rol</label>
       <select name="rol" id="rol">
           <option value="Admin">Admin</option>
           <option value="normal">normal</option>
       </select>
        
        <div class="btn-box">
            <button type="submit">Save</button>
            <a href="/">Cancel</a>
        </div>
    </form>
</div>