<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href='https://css.gg/css' rel='stylesheet'>
   <link rel="stylesheet" href="/Styles/main.css">

    <title>Document</title>
  </head>

  <body>
    <header class=" navbar is-dark ">
            <div class="navbar-brand">
                <a class="navbar-item title is-3" href="/">NODE CRUD</a>
            </div>   
    </header>
<br>
    <%-body%>

    
  </body>
</html>
